$padding: 1rem
$color-offwhite: #eee
$color-white: whitesmoke
$color-black: #1E1E1E
$color-light: #ccc
$color-grey: #888
$color-dark: #333
$color-button: #bbb
$color-orange: #FFD187
$color-light-blue: #92CCD8
$color-purpley: #556
$color-purpley-light: #6C6C82
$color-purpley-red: #5E5566
$color-purpley-green: #555E66
$color-origin: $color-light-blue
$color-destination: $color-orange

$controls-width: 300px
$color-map-background: $color-purpley
$color-map-background-darker: darken($color-map-background, 10%)
$color-panel-background: $color-map-background-darker
$color-dark-text: darken($color-map-background, 17%)
$color-panel-font-dark: lighten($color-dark-text, 10%)
$color-panel-font-light: lighten($color-purpley-light, 35%)
$color-map-light: $color-white
$color-map-dark: $color-dark
$color-icon-border: $color-map-light
$color-origin: $color-light-blue
$color-destination: $color-orange
$opacity: 0.2

$transition-standard: .25s
