.DS_Store
node_modules


/tests/e2e/logs/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/public/img/icons/favicon_package_v0.16.zip
/meta.org
/meta/
